.intro {
    background-color: $lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
    text-align: center;
    &__title {
        margin: 30px 0 0 0;
    }
    &__text {
        font-weight: 300;
        font-size: 1.25em;
    }
    &__btn {
        margin-top: 30px;
        margin-bottom: 70px;
    }
}