.location {
    background-color: darken($white, 8);
    height: 60px;
    box-shadow: inset 0 3px 3px darken($white, 25);
    display: flex;
    align-items: center;
    justify-content: center;
    &__text {
        font-weight: 500;
        font-size: 1.2em;
        i {
            margin-right: 13px;
        }
    }
}